<a href="https://colab.research.google.com/github/anstjsdud/py17/blob/master/ch3_exercises_py17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [0]:
# [Q1] Code  

a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

결괏값 = shirt

1.첫 번째 조건: "wife"라는 단어는 a 문자열에 없으므로 거짓이다.

2.두 번째 조건: "python"이라는 단어는 a 문자열에 있지만 "you" 역시 a 문자열에 있으므로 거짓이다.

3.세 번째 조건: "shirt"라는 단어가 a 문자열에 없으므로 참이다.

4.네 번째 조건: "need"라는 단어가 a 문자열에 있으므로 참이다.

가장 먼저 참이 되는 것이 세 번째 조건이므로 "shirt"가 출력된다.

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [0]:
# [Q2] Code

result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [0]:
# [Q3] Code

i = 0
while True:
    i += 1
    if i > 5: break    
    print ('*' * i)

*
**
***
****
*****

while문을 수행할 때마다 i 값을 증가시킨다.

별 모양을 5번 출력해야 하므로 i 값이 5 이상일 경우 while문을 벗어나도록 한다. 

별 모양을 i 값 만큼 출력하기 위해서 문자열 곱하기 기능을 사용한다.

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [0]:
# [Q4] Code

>>> for i in range(1, 101):
...    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [0]:
# [Q5] Code

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score  

average = total / len(A) 
print(average)

79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [0]:
# [Q6] Code

numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [0]:
# [Q7] Code-1
         
파이썬 = 91
영어 = 67
수학 = 88
물리 = 75
(파이썬+영어+수학+물리)/4

80.25

In [0]:
# [Q7] Code-2

scores=[91, 67, 88, 75]
print("평균점수는{0}점입니다".format(sum(scores)/len(scores)))

평균점수는80.25점입니다

In [0]:
# [Q7] Code-3

scores={'파이썬':91, '영어':67, '수학':88, '물리':77}
print("평균점수는{0}점입니다".format(sum(scores.values())/len(scores)))

평균점수는80.75점입니다

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb